@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcebff;
  width: 100%;
  height: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 80px 0 100px;
  margin: 0;
}

main {
  padding: 180px 5% 200px;
  background-image: url(../img/fondoMain.jpg);
  background-size: cover;
}

header {
  z-index: 1;
}

.headerImgLogo {
  object-fit: cover;
  width: 16rem;
}

.logoRedes {
  width: 100%;
}

.button {
  width: 50px;
  margin: auto 0 auto auto;
}

.carrusel img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* header */
header {
  width: 100%;
  margin: auto;
  position: sticky;
  background-color: #b0cff9;
  border-bottom: 1px solid #0046a4;
  position: fixed;
}
header nav {
  height: 110px;
}
header nav div a img {
  object-fit: cover;
  width: 16rem;
}
header nav div nav ul {
  background-color: #b0cff9;
}
header nav div nav ul li {
  margin: auto 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* inicio */
.mainInicio h2 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 100px;
}
.mainInicio div {
  margin-bottom: 150px;
}
.mainInicio div section {
  display: flex;
  width: 90%;
  height: 500px;
  margin: auto;
  border: 1px solid black;
}
.mainInicio div section img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.mainInicio .video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainInicio .video h3 {
  text-align: center;
  font-size: 2rem;
}
.mainInicio .video iframe {
  width: 560px;
  height: 315px;
}

/* servicios */
.mainServicios {
  padding-bottom: 600px;
}
.mainServicios section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 5%;
  justify-content: center;
}
.mainServicios section div {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainServicios section div img {
  width: 100%;
  padding: 20px 20px 10px 20px;
}
.mainServicios section div p {
  text-align: center;
  margin-top: 2%;
  font-size: 1.5vw;
  font-weight: bold;
}

/* quienes somos */
.mainQuienesSomos {
  padding: 180px 20% 200px;
}
.mainQuienesSomos div p {
  margin-bottom: 100px;
  font-size: 1rem;
}
.mainQuienesSomos div h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

/* contactanos */
.mainContactanos section div {
  display: flex;
  width: 100%;
}
.mainContactanos section div img {
  width: 60%;
  margin: auto;
}
.mainContactanos section div form {
  margin: auto 5% auto auto;
  display: flex;
  flex-direction: column;
}
.mainContactanos section div form h2 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.mainContactanos section div form div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.mainContactanos section div form div label {
  margin-right: 20px;
}
.mainContactanos section div form div input {
  width: auto;
  margin: 3%;
  max-width: 300px;
}
.mainContactanos section div form div textarea {
  width: auto;
  margin: 3%;
}

/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 100px;
  margin: 20px auto;
}
footer nav {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
footer nav li {
  width: 20px;
  list-style: none;
  margin: auto 20px;
}

/* tamaño pequeño */
@media (max-width: 767px) {
  h1 {
    width: 100%;
    text-align: center;
    padding: 60px 0 60px;
    margin: 0;
  }
  /* header */
  header nav {
    height: 90px;
  }
  .headerImgLogo {
    object-fit: cover;
    width: 12rem;
  }
  /* inicio */
  .mainInicio {
    padding-left: 0;
    padding-right: 0;
  }
  .mainInicio h2 {
    font-size: 2.3rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  .mainInicio div .carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
    height: auto;
    border: 2px solid black;
  }
  .mainInicio div .carrusel .imgCarrusel {
    flex: 1 0 auto;
    margin: 0 30px;
    width: 300px;
    opacity: 1;
  }
  .mainInicio .video {
    flex-direction: column;
    margin-top: 50px;
  }
  .mainInicio .video h3 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .mainInicio .video iframe {
    margin-top: 80px;
    width: 95%;
  }
  /* quienes somos */
  .mainQuienesSomos {
    padding: 50px 5% 40px;
  }
  /* servicios */
  .mainServicios {
    padding: 50px 5% 600px;
  }
  .mainServicios section {
    grid-template-columns: repeat(1, 1fr);
    gap: 2%;
  }
  .mainServicios section div {
    flex-direction: row;
    justify-content: start;
    padding: 3%;
  }
  .mainServicios section div img {
    width: 25%;
    padding: 0;
    margin-right: 20px;
  }
  .mainServicios section div p {
    font-size: 5vw;
    width: auto;
    text-align: start;
    margin: auto 0;
  }
  .mainContactanos {
    padding: 50px 5% 40px;
  }
  .mainContactanos section div img {
    display: none;
  }
  /* footer */
  footer img {
    width: 70px;
    margin: 10px auto;
  }
  footer nav {
    margin: 10px auto;
  }
}
/* tamaño mediano */
@media (min-width: 767px) and (max-width: 992px) {
  /* quienes somos */
  .mainQuienesSomos {
    padding-top: 100px;
  }
  /* contacto */
  .mainContactanos {
    padding-top: 100px;
  }
  .mainContactanos section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainContactanos section div form {
    margin: auto;
  }
  .mainContactanos section div form h2 {
    text-align: center;
  }
  .mainContactanos section div img {
    width: 100%;
    margin-top: 50px;
  }
  /* servicios */
  .mainServicios {
    padding: 100px 5% 600px;
  }
  .mainServicios section {
    grid-template-columns: repeat(2, 1fr);
    gap: 3% 10%;
    margin: 5%;
  }
  .mainServicios section div p {
    margin: auto;
    font-size: 4vw;
  }
  /* inicio */
  .mainInicio {
    padding-left: 0;
    padding-right: 0;
  }
  .mainInicio h2 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .mainInicio div section {
    margin: 0;
    width: 100%;
  }
  .mainInicio .video {
    flex-direction: column;
    margin-top: 50px;
  }
  .mainInicio .video h3 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .mainInicio .video iframe {
    margin-top: 80px;
  }
}

/*# sourceMappingURL=estilos.css.map */
