* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcebff;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 80px 0 100px;
    margin: 0;
}

main {
    padding-top: 180px;
}