.headerImgLogo {
    object-fit: cover;
    width: 16rem;
}

.logoRedes {
    width: 100%;
}

.button {
    width: 50px;
    margin: auto 0 auto auto;
}

.carrusel img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}