/* header */
header {
    width: 100%;
    margin: auto;
    position: sticky;
    background-color: #b0cff9;
    border-bottom: 1px solid #0046a4;
    position: fixed;

    nav {
        height: 110px;

        div {

            a {

                img {
                    object-fit: cover;
                    width: 16rem;
                }
            }

            nav {

                ul {
                    background-color: #b0cff9;

                    li {
                        margin: auto 5px;
                        font-size: 1.1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}