/* vista principal */

main {

    h2 {
        font-size: 10rem;
    }

    div {

        section {
            display: flex;
            width: 90%;
            height: 500px;
            margin: auto;
            border: 1px solid black;

            img {
                width: 0;
                flex-grow: 1;
                object-fit: cover;
                opacity: 0.8;
                transition: 0.5s ease;
            }
        }
    }
}


    /* quienes somos */

main {
    background-image: url(../img/fondoMain.jpg);
    background-size: cover;

    div {

        p {
            margin-bottom: 100px;
            font-size: 1rem;
        }

        h2 {
            margin-bottom: 30px;
            font-size: 2rem;
        }
    }
}








    /*  vista contactanos */

main {

    section {

        div {
            display: flex;
            width: 100%;

            img {
                width: 50%;
                margin: auto;
            }

            form {
                margin: auto 5% auto auto;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 40px;
                }

                div {
                    margin: 10px;
                    display: flex;
                    flex-direction: column;

                    label {
                        margin-right: 20px;
                    }

                    input {
                        width: auto;
                        margin: 3%;
                        max-width: 300px;
                    }
                    
                    textarea {
                        width: auto;
                        margin: 3%;
                    }
                }
            }
        }
    }
}