/* main vista principal */

main {
    padding-top: 180px;

    h2 {
        font-size: 10rem;
    }

    div {

        section {
            display: flex;
            width: 90%;
            height: 500px;
            margin: auto;
            border: 1px solid black;

            img {
                width: 0;
                flex-grow: 1;
                object-fit: cover;
                opacity: 0.8;
                transition: 0.5s ease;
            }
        }
    }
}

.mainProyectos img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


/* contactanos */

main {

    section {

        div {
            display: flex;
            width: 100%;

            img {
                width: 50%;
                margin: auto;
            }

            form {
                margin: auto;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 40px;
                }

                div {
                    margin: 10px;

                    label {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}