/* tamaño pequeño */
@media (max-width: 767px) {

    h1 {
        width: 100%;
        text-align: center;
        padding: 60px 0 60px;
        margin: 0;
    }

    /* header */
    header {
        nav {
            height: 90px;
        }
    }

    .headerImgLogo {
        object-fit: cover;
        width: 12rem;
    }

    /* inicio */
    .mainInicio {
        padding-left: 0;
        padding-right: 0;

        h2 {
            font-size: 2.3rem;
            padding-left: 5%;
            padding-right: 5%;
        }
        
        div {
            .carrusel {
                display: flex;
                flex-wrap: nowrap;
                overflow: scroll;
                width: 100%;
                height: auto;
                border: 2px solid black;

                .imgCarrusel {
                    flex: 1 0 auto;
                    margin: 0 30px;
                    width: 300px;
                    opacity: 1;
                }
            }
        }

        .video {
            flex-direction: column;
            margin-top: 50px;

            h3 {
                padding-left: 5%;
                padding-right: 5%;
            }

            iframe {
                margin-top: 80px;
                width: 95%;
            }
        }
    }

    /* quienes somos */
    .mainQuienesSomos {
        padding: 50px 5% 40px;
    }

    /* servicios */
    .mainServicios {
        padding: 50px 5% 600px;

        section {
            grid-template-columns: repeat(1, 1fr);
            gap: 2%;

            div {
                flex-direction: row;
                justify-content: start;
                padding: 3%;

                img {
                    width: 25%;
                    padding: 0;
                    margin-right: 20px;
                }

                p {
                    font-size: 5vw;
                    width: auto;
                    text-align: start;
                    margin: auto 0;
                }
            }
        }
    }

    .mainContactanos {
        padding: 50px 5% 40px;

        section {

            div {

                img {
                    display: none;
                }
            }
        }
    }

    /* footer */
    footer {

        img {
            width: 70px;
            margin: 10px auto;
        }

        nav {
            margin: 10px auto;
        }

    }
}

/* tamaño mediano */
@media (min-width: 767px) and (max-width: 992px) {

    /* quienes somos */
    .mainQuienesSomos {
        padding-top: 100px;
    }

    /* contacto */
    .mainContactanos {
        padding-top: 100px;

        section {

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                form {
                    margin: auto;

                    h2 {
                        text-align: center;
                    }
                }

                img {
                    width: 100%;
                    margin-top: 50px;
                }
            }
        }
    }

    /* servicios */
    .mainServicios {
        padding: 100px 5% 600px;

        section {
            grid-template-columns: repeat(2, 1fr);
            gap: 3% 10%;
            margin: 5%;

            div {

                p {
                    margin: auto;
                    font-size: 4vw;
                }
            }
        }
    }

    /* inicio */
    .mainInicio {
        padding-left: 0;
        padding-right: 0;

        h2 {
            padding-left: 5%;
            padding-right: 5%;
        }

        div {

            section {
                margin: 0;
                width: 100%;
            }
        }

        .video {
            flex-direction: column;
            margin-top: 50px;

            h3 {
                padding-left: 5%;
                padding-right: 5%;
            }

            iframe {
                margin-top: 80px;
            }
        }
    }

}